[submodule "src/3rdparty/rapid-image"]
	path = src/3rdparty/rapid-image
	url = https://github.com/randomgraphics/rapid-image.git
[submodule "src/3rdparty/assimp"]
	path = src/3rdparty/assimp
	url = https://github.com/assimp/assimp.git
