# set the default test behavior
* text auto

# specify text files for normalized line ending
*.scons text

# specify true binary files here
*.bmp binary
*.dds binary
*.dll binary
*.exe binary
*.fbx binary
*.jpg binary
*.lib binary
*.max binary
*.pdb binary
*.png binary
*.rtf binary
*.ttc binary
*.ttf binary
