# set the default test behavior
* text auto

# specify true binary files here
*.bmp binary
*.dds binary
*.dll binary
*.exe binary
*.fbx binary
*.ib  binary
*.jpg binary
*.lib binary
*.max binary
*.pdb binary
*.png binary
*.rtf binary
*.tga binary
*.ttc binary
*.ttf binary
*.vb  binary
