version: 2.1

# Prep git safe.directory and SSH known_hosts so clone does not prompt for host key.
prep_git: &prep-git
  run:
    name: prep git
    command: |
      git config --global --add safe.directory /tmp/_circleci_local_build_repo
      git config --global --add safe.directory /root/project

# commented out for now, since it give github authentication error.
# shallow_checkout: &shallow-checkout
#   run:
#     name: Shallow clone
#     command: |
#       git clone --depth 1 --no-tags --branch "${CIRCLE_BRANCH}" "$CIRCLE_REPOSITORY_URL" .
#       git submodule update --init --recursive
#       git lfs pull || true

jobs:
  lint:
    docker:
      - image: randomgraphics/garnet:latest
    steps:
      - *prep-git
      - checkout
      - run:
          name: lint
          command: |
            env/bin/cit.py -l
  build-linux-gcc-debug:
    docker:
      - image: randomgraphics/garnet:latest
    steps:
      - *prep-git
      - checkout:
          method: blobless
      - run:
          name: build
          command: |
            git config --global --unset-all "url.ssh://git@github.com.insteadof" # fix git lfs bad credential when fetching repo stored on github
            source env/garnet.rc
            build.py d
      - run:
          name: test
          command: env/bin/cit.py -t

  build-linux-gcc-profile:
    docker:
      - image: randomgraphics/garnet:latest
    steps:
      - *prep-git
      - checkout:
          method: blobless
      - run:
          name: build
          command: |
            git config --global --unset-all "url.ssh://git@github.com.insteadof" # fix git lfs bad credential when fetching repo stored on github
            source env/garnet.rc
            build.py p
            env/bin/cit.py -t

  build-linux-gcc-release:
    docker:
      - image: randomgraphics/garnet:latest
    steps:
      - *prep-git
      - checkout
      - run:
          name: build
          command: |
            git config --global --unset-all "url.ssh://git@github.com.insteadof" # fix git lfs bad credential when fetching repo stored on github
            git submodule update --init --recursive
            source env/garnet.rc
            build.py r
            env/bin/cit.py -t

  build-linux-clang-debug:
    docker:
      - image: randomgraphics/garnet:latest
    steps:
      - *prep-git
      - checkout
      - run:
          name: build
          command: |
            git config --global --unset-all "url.ssh://git@github.com.insteadof" # fix git lfs bad credential when fetching repo stored on github
            source env/garnet.rc
            build.py --clang d

  build-linux-clang-profile:
    docker:
      - image: randomgraphics/garnet:latest
    steps:
      - *prep-git
      - checkout
      - run:
          name: build
          command: |
            git config --global --unset-all "url.ssh://git@github.com.insteadof" # fix git lfs bad credential when fetching repo stored on github
            source env/garnet.rc
            build.py --clang p

  build-linux-clang-release:
    docker:
      - image: randomgraphics/garnet:latest
    steps:
      - *prep-git
      - checkout
      - run:
          name: build
          command: |
            git config --global --unset-all "url.ssh://git@github.com.insteadof" # fix git lfs bad credential when fetching repo stored on github
            source env/garnet.rc
            build.py --clang r

  build-android-debug:
    docker:
      - image: randomgraphics/garnet:latest
    steps:
      - *prep-git
      - checkout
      - run:
          name: build
          command: |
            git config --global --unset-all "url.ssh://git@github.com.insteadof" # fix git lfs bad credential when fetching repo stored on github
            source env/garnet.rc
            build.py -a d

  build-android-profile:
    docker:
      - image: randomgraphics/garnet:latest
    steps:
      - *prep-git
      - checkout
      - run:
          name: build
          command: |
            git config --global --unset-all "url.ssh://git@github.com.insteadof" # fix git lfs bad credential when fetching repo stored on github
            source env/garnet.rc
            build.py -a p

  build-android-release:
    docker:
      - image: randomgraphics/garnet:latest
    steps:
      - *prep-git
      - checkout
      - run:
          name: build
          command: |
            git config --global --unset-all "url.ssh://git@github.com.insteadof" # fix git lfs bad credential when fetching repo stored on github
            source env/garnet.rc
            build.py -a r

workflows:
  build-and-test:
    jobs:
      - lint
      - build-linux-gcc-debug:
          requires:
          - lint
      - build-linux-gcc-profile:
          requires:
            - build-linux-gcc-debug
      - build-linux-gcc-release:
          requires:
            - build-linux-gcc-debug
      - build-linux-clang-debug:
          requires:
            - build-linux-gcc-debug
      - build-linux-clang-profile:
          requires:
            - build-linux-clang-debug
      - build-linux-clang-release:
          requires:
            - build-linux-clang-debug
      - build-android-debug:
          requires:
            - build-linux-gcc-debug
      - build-android-profile:
          requires:
            - build-android-debug
      - build-android-release:
          requires:
            - build-android-debug
