#!/bin/bash
set -e

# include .bashrc if it exists
if [ -f "$HOME/.bashrc" ]; then
    . "$HOME/.bashrc"
fi

echo
echo "********************************************************************************"
echo "*                                                                              *"
echo "*                       GARNET Development Console                             *"
echo "*                                                                              *"
echo "********************************************************************************"
echo


# ===========
# Basic setup
# ===========

export GARNET_ROOT=$(dirname $(dirname $(realpath ${BASH_SOURCE[0]})))

# Detect WSL enviroonment
echo "Detecting WSL environment..."
if [[ $(uname -r) == *"microsoft"* ]] ; then
    # kernel name contains string "microsoft". we must be in wsl environment.
    echo "NOTE: You are currently running WSL environment. Please refer to the following"
    echo "      link to ensure your docker environemnt is running properly:"
    echo
    echo "      https://docs.docker.com/docker-for-windows/wsl/"
    echo

    # remove /mnt/... like path imported via WSL interoperbility to avoid confusing linux tools, except docker related path
    # TODO: retain docker path in original PATH instead of appending with hardcoded one
    export PATH=`echo $PATH | tr ":" "\n" | grep -v "/mnt/" | tr "\n" ":"`:/mnt/c/Program\ Files/Docker/Docker/resources/bin:/mnt/c/ProgramData/DockerDesktop/version-bin
fi

# ==========
# Config GIT
# ==========
echo "Configuring GIT..."
# check if ../.gitconfig exists
local_gitconfig="${GARNET_ROOT}/../.gitconfig"
if [ -f "${local_gitconfig}" ] ; then
    echo "Config GIT using GIT config file: ${local_gitconfig}"
    git config include.path "${local_gitconfig}"
fi

# ================================
# Setup Python Virtual Environment
# ================================
echo "Setting up Python virtual environment..."
python3 -m venv ${GARNET_ROOT}/env/.pyvenv
source ${GARNET_ROOT}/env/.pyvenv/bin/activate
pip install --upgrade pip
pip install -r ${GARNET_ROOT}/env/requirements.txt
# pip install --upgrade pip
# pip install --upgrade termcolor
# pip install --upgrade cmake
# pip install --upgrade ninja
# pip install --upgrade vulkan-sdk
# pip install --upgrade clang-15
# pip install --upgrade clang-format-15
# pip install --upgrade git-lfs
# pip install --upgrade git


# =============
# Setup FBX SDK
# =============
echo "Checking FBX SDK..."
if [ -d "${FBX_SDK}" ] ; then
    echo "FBX SDK found in ${FBX_SDK}".
else
    echo "Environment variable FBX_SDK is missing or not pointing to a valid folder. All FBX related features will be disabled."
fi

# =====
# alias
# =====
echo "Configuring alias..."
while read -r line
do
    line=${line/% \"/\"} # remove trailing space
    eval x=($line) # split line into array of words. x[0] is alias name, x[1] is alias value
    alias ${x[0]}="${x[1]}"
done < ${GARNET_ROOT}/env/alias.bash.txt

# =====================
# Config Console Prompt
# =====================
echo "Configuring console prompt..."
# utility function to get git branch
get-git-branch() {
    branch=$(git rev-parse --abbrev-ref HEAD 2>&1)
    if [[ $? != 0 ]]  ; then
        branch="n/a"
    fi
    echo $branch
}

# setup command line prompt
PS1="\n\e[00;92m==== [GARNET] - \e[01;96m${GARNET_ROOT}\e[00;92m - \e[01;93m\$(get-git-branch)\e[00;92m ====\e[m\n$PS1"

# =====
# Misc.
# =====
echo "Misc. setup..."
unset INCLUDE
unset LIBS
PATH=${GARNET_ROOT}/env/bin:${PATH}

# =================
# End of main setup
# =================

cd ${GARNET_ROOT}

# =========================
# Call user specific script
# =========================

# if exist env/user/${USER}.sh env/user/${USER}.sh

# ====
# Done
# ====

echo
echo Garnet build environment ready to use. Happy coding!
echo
echo "USERNAME         = $USER"
echo "GARNET_ROOT      = $GARNET_ROOT"
echo "FBX_SDK          = $FBX_SDK"
echo "ANDROID_SDK_ROOT = $ANDROID_SDK_ROOT (required for Android build)"
echo "ANDROID_NDK_ROOT = $ANDROID_NDK_ROOT (required for Android build)"
echo "JAVA_HOME        = $JAVA_HOME (required for Android build)"

# Disable error checking. Without this line, any errors after this script
# will cause the bash instance to exit.
set +e